/* Responsive styles */


@media (min-width: 481px) and(max-width:768px) {
  .header h1 {
    font-size: 1.125rem;
  }

  .header-input {
    width: 200px;
  }

  .search-btn {
    font-size: 1.25rem;
  }

  .header .sign-in-button {
    padding: 0.5rem 1rem;
    font-size: 0.875rem;
  }
}

@media (max-width: 480px) {
  .header {
    height: 100px;
    padding: 0.5rem 0;
    width: 100%;
  }

  .header h1 {
    font-size: 1rem;
  }

  .header-input {
    width: 100%;
  }

  .search {
    width: 100%;
    justify-content: center;
  }

  .header .sign-in-button {
    width: 100%;
    text-align: center;
    padding: 0.5rem;
  }
 .hamburger{
  display: none;
 }
}
